body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table *{
    border: 1px solid #000;
    width: 18px;
    height: 18px;
}

table, table *{
    user-select: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}



.green{
    background-color: limegreen;
}

.red{
    background-color: red;
}







.path{
    background-color: hsl(180, 100%, 40%);
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.cyan{
    background-color: cyan;
}

.parent{
    display: flex;
    width: 100%!important;
    max-width: 900px!important;
}

fieldset.parent > fieldset{
    display: inline-block;
    flex: 1 1 20%;
}

fieldset.settings{
    display: flex;
    flex-wrap: wrap;
}


.control{
    font-size: 1.7rem;
}